@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.App {
  height: 100%;
  background:
    radial-gradient(153.54% 176.91% at -40.15% -70.29%, rgba(233, 80, 156, .9) 0%, rgba(233, 69, 96, 0) 92.09%),
    radial-gradient(156.19% 181.84% at 157.13% 154.8%, rgba(255, 230, 254, .3) 0%, rgba(0, 162, 254, 0) 92.09%),
    #202034;
}

.App-logo {
  height: 7rem;
  pointer-events: none;
}

.App-header {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* text-decoration:underline; */
  /* font-style: italic; */
  font-size: 3rem;
  color: white;
  transition: filter 0.75s ease-out;
}

.App-header:hover {
  filter: drop-shadow(0 0 1em #cf62a5);
}

.App-header>* {
  margin: .1em;
}

.title {
  transform: skew(-10deg);
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #0f0f0f98;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

.Menu {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: .7em;
  width: max(40%, 300px);
}

.login-area {
  width: max-content;
  position: absolute;
  right: 0%;
  margin: 1em;
  line-height: 2em;
}

.login-button {
  width: max-content;
  display: flex;
  align-items: center;
  gap: .6em;
}

.profile-picture {
  height: 2em;
  border-radius: 50%;
}

.dropdown {
  margin-left: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #0f0f0f98;
  border-radius: 0 0 8px 8px;
}

.dropdown>button {
  background: none;
  min-width: max-content;
}

.signout-button:hover {
  border-color: #991111;
}

.dropdown-animation-enter {
  opacity: 0;
  transform: translateY(-10%);
}

.dropdown-animation-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all .25s;
}

.dropdown-animation-exit {
  opacity: 1;
}

.dropdown-animation-exit-active {
  opacity: 0;
  transform: translateY(-10%);
  transition: all .25s;
}