.credits-container {
    height: 100%;
    width: 65%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.credits>* {
    padding: 2em;
}

.credits>img {
    width: 12em;
    border-radius: 50%;
}